.container {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    position: relative;
  

}

.todos{
    width: 300px;
    height: 20px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
   
}

.btn-remove {
    float: right;
    border: none;
    color: white;
    background-color: #FF4136;
    border-radius: 3px;
    cursor: pointer;
}

.btntodo {
    color: white;
    border: none;
    background-color: #001f3f;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
}

.in {
    height: 30px;
    width: 200px;
    border-radius: 3px;
    border-color: #001f3f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.date {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-size: 10px;

}